<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=candles" class="dropdown-item">Candles</a>
                <a href="{% url 'products' %}?category=diffusers" class="dropdown-item ">Diffusers</a>
                <a href="{% url 'products' %}?category=giftsbundles" class="dropdown-item ">Gifts & Bundles</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">Shop All</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="faq-link" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact_page' %}" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'about' %}" id="aboutus-link" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>
    </ul>
</div>