{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <main class="container mt-3">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>About ScentLuxe</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <p class="mt-4">
                    ScentLuxe is a curated collection of luxury candles, thoughtfully crafted to elevate everyday moments. Whether you're looking to enhance your space, unwind after a long day, or find the perfect gift, our candles offer a sensory experience unlike any other.
                </p>
                <p>
                    This site was developed by <strong>Aiman Hawaemanoh</strong> as part of Portfolio Project 5 for Code Institute, with a focus on building a fully functional eCommerce platform from scratch.
                </p>
                <img class="card-img-top logo-img" src="https://aimanh04-scentluxe.s3.amazonaws.com/media/scentluxe.png" alt="ScentLuxe Logo">
                <small>Apr. 22, 2025</small>
                <hr>
            </div>
        </div>
    </main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}